{% extends "activity/fluid_base.html" %}

{% block content %}

    <ul class="breadcrumb">
        <li><a href="#">Programación Orientada a Objetos</a> <span class="divider">/</span></li>
        <li><a href="#">Unidad 2. Analisis de señales periodicas en el tiempo: Series de Fourier</a> <span class="divider">/</span></li>
        <li class="active">Introduction</li>
    </ul>

    <div class="videoWrapper">

        <iframe width="560" height="349" src="http://www.youtube.com/embed/QK8mJJJvaes?wmode=transparent"></iframe>
    </div>

    <ul class="pager">
        <li class="previous disabled">
            <a href="#">&larr; Anterior</a>
        </li>
        <li class="next">
            <a href="#">Siguiente &rarr;</a>
        </li>
    </ul>

{% endblock content %}